from app.plugins.fields import PluginField
from pydantic import BaseModel, ConfigDict


class Config(BaseModel):
    model_config = ConfigDict(extra="allow")

    hello: str = PluginField(default="来自 ${plugin_title} 插件的问候", description="问候词")
